{% extends 'trainertemp/trainer_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-8 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Dietplan</h4>
            <p class="card-description">
                Add Dietplan Here
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ dietplan_Form|crispy }}
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}