{% extends 'trainertemp/trainer_home.html' %}
{% block content %}
<!--<style>-->
<!--    .row card-group{height : 100px; width : 500px; overflow-y: auto;}-->
<!--</style>-->
<div class='row card-group'>
    {% for i in dietplan %}
    <div class="col-5">
        <div class="card h-100">
        <div class="card" style="width: 25rem;">
            <img src="{{i.image.url}}" width="300px" height="250px" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{i.subject}}</h5>
                <form method="post" action="{% url 'dietplan_delete' i.id %}" onsubmit="sub1()">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <script>
                function sub1(){
                alert("user is deleted!!")
                }
            </script>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}