{% extends 'trainertemp/trainer_home.html' %}
{%  load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Customer Details Table</h4>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>
          name
        </th>
        <th>
          age
        </th>
        <th>
          address
        </th>
        <th>
          contact_no
        </th>
        <th>
          image
        </th>
        <th>
          delete
        </th>
      </tr>
    </thead>
    <tbody>
    {% for i in customer %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.address}}</td>
         <td>{{i.contact_no}}</td>
        <td><img src="{{i.image.url}}"  class="rounded float-start" style="width:70px; height:60px;"></td>
        <td><form method="post" action="{% url 'customer_delete' i.id %}" onsubmit="sub1()">
           {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            delete
          </button>
        </form>


        </td></tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
          <script>
            function sub1(){
            alert("user is deleted!!")
            }
          </script>
        </div>
    </div>
</div>
    {% endblock %}