{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
<!--     {% for message in messages %}-->
<!--<div class="alert alert-success" role="alert">-->
<!--  Batch is added !-->
<!--</div>-->
{% endfor %}
                <div class="card-body">
                  <h4 class="card-title">Add Payment</h4>
                  <p class="card-description">
                    you can Add payments Here
                  </p>
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
<!--                    {{ batch_form|crispy }}-->
                      <div class="form-group">
    <label for="Batchid">Batch Name</label>
    <input type="text" class="form-control" id="Batchid" name="name">
  </div>
  <div class="form-group">
    <label for="id_time">Batch Time</label>
    <input type="time" class="form-control" name="time" id="id_time">
  </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
{% endblock %}