{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Trainer Details Table</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table-striped</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>
                             Name
                          </th>
                          <th>
                            Attendence
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in customer %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{i.name}}</td>
                          <td><a href= "{% url 'mark_attendence' i.user_id %}" class="btn btn-info" role="button">Mark</a></td>
<!--                            {% csrf_token %}-->
<!--                            <button type="submit" class="btn btn-danger">-->
<!--                              delete-->
<!--                            </button>-->
<!--                          </form>-->
                          </td>
                          </tr>
                          {% endfor %}
<!--                          <td class="py-1">-->
<!--                          </td>-->
<!--                          <td></td>-->

                      </tbody>
                    </table>
                  </div>
                  <script>
                    function sub1(){
                    alert("user is deleted!!")
                    }
                  </script>
                </div>
              </div>
          </div>
{% endblock %}
