{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Trainer form</h4>
                  <p class="card-description">
                    Register Trainer here
                  </p>
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ login_form|crispy }}
                    {{ trainer_form|crispy }}
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
</div>
{% endblock %}