{% extends 'usertemp/user_home.html' %}
{% block content %}
<style>
  .card h-100{ height : 450px; overflow-x: auto;}
</style>
<div class='row card-group'>
  {% for i in equipments %}
<div class="col-4">
  <div class="card h-100">
<div class="card" style="width: 25rem;">
  <img src="{{i.image.url}}" width="350px" height="250px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.discrition}}</p>
<!--    <form method="post" action="{% url 'equipments_delete' i.id %}">-->
<!--      {% csrf_token %}-->
<!--    <button type="submit" class="btn btn-danger">Delete</button>-->
<!--      </form>-->
  </div>
</div>
</div>
</div>
  {% endfor %}
</div>
{% endblock %}